.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5vw;
  max-width: 850vw;
  text-align: left;
  color: #494949;
}
.image img {
  width: 40vw;
  height: 90vh;
}

h1 {
  font-size: 70px;
  line-height: 55px;
  margin: -10px;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 5px;
}

p {
  width: 40vw;
  margin-bottom: 5vh;
}

.subcontent {
  margin-top: 5vh;
}

.subcontent a {
  color: #20a3af;
}
